body {
	background: #34495e;
	color: #1abc9c;
}

img {
	max-width: 100%;
}

.scroll-panel {
	padding-top: 78px;
}

.navbar {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	position: fixed;
	width: 100%;
	padding: 0 20px;
	z-index: 99;
}

.jumbotron {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0 !important;
	padding: 0 !important;
}

.jumbotron-midnight {
	margin: 0;
	background: #34495e;
	color: #1abc9c;
}


.bottom-menu {
	margin-top: 50px;
}

.showcase-item {
	height: 360px;
	padding: 2px;
}

	.showcase-item .showcase-item-box {
		background: #7f8c8d;
		color: #fff;
		padding: 40px;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	
	.showcase-item .showcase-item-box:hover img {
		-webkit-animation: shake .25s linear;
		animation: shake .25s linear;
	}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes shake {
	25% {
		-webkit-transform: translate(-50%);
	}
	50% {
		-webkit-transform: translate(50%);
	}
	75% {
		-webkit-transform: translate(-50%);
	}
	100% {
		-webkit-transform: translate(0);
	}
}

.text-centered { text-align: center; }
.no-margin { margin: 0; }
.full-width { width: 100%; }


@media (max-width: 767px) {
	.jumbotron h1 {
		font-size: 31px;
	}
}